/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Fuggles&display=swap');

/* GLOABLE SETTINGS AN VARIABLES */
:root {
  --nav-bg-color: #fb5d7c; /* BG color for navbar and footer */
  --bg-color-main: #f6e05e;
  --font-size: 1.5rem;
  --font-weight: 800;
  --box-shadow: 0 0 10px 1px #000;
  --font-family: Fuggles, sans-serif;
  --orange: #FF9933;
  --green: #40A943;
  --blue: #55A3FC;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: #F6E05E;
}

/* HEADER - Import information displayed at the top of the page */
a {
  color: #000;
  text-decoration: none;
  font-weight: var(--font-weight);
}

header {
  width: 100%;
}

.intro {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px auto;
}

#intro-img {
  width: 500px;
  height: 500px;
  margin-top: 50px;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
  object-fit: fill;
}

.intro-welcome-message {
  display: block;
  font-size: 10rem;
  text-decoration: underline;
  font-family: var(--font-family);
  margin-right: 100px;
}

/* NAV - Top links */
#nav-bar {
  background: var(--nav-bg-color);
  height: 40px;
  width: 100%;
  position: fixed;
  border-bottom: solid 3px #000;
}

.nav-ul {
  display: flex;
  justify-content: center;
  list-style: none;
  height: 100%;
}

.nav-list {
  width: 100px;
  height: 100%;
  padding: .5rem;
  border-left: solid 3px #000;
  flex-grow: 1;
}

#header-img-li {
  flex-grow: 9;
  height: 100%;
}

#logo {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 3px;
}

#logo-text {
  font-family: var(--font-family);
  text-decoration: underline;
}

#header-img {
  border-radius: 50%;
  margin-left: 6px;
  height: 25px;
  width: 25px;
}

/* MAIN - Where the main content is */
main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

iframe, input {
  border-radius: 10px;
  border: solid 3px #000;
  box-shadow: var(--box-shadow);
}

.gallery-grid-container img , #video {
  border: 3px solid #000;
  margin: 0;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

.gallery-grid-container > img {
  height: 500px;
  width: 500px;
  max-height: 500px;
  max-width: 500px;
  min-width: 50px;
  min-height: 50px;
}

#video {
  width: 65%;
  height: 700px;
  margin-bottom: 1rem;
}

#gallery {
  background: var(--green);
  width: 100%;
  height: 100%;
  padding-bottom: 100px;
}

.gallery-grid-container {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* FORM - Signup via email */
#form-div {
  padding: 1rem 0;
  background: var(--blue);
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

fieldset {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 10px;
  background: var(--orange);
  box-shadow: var(--box-shadow);
  border: solid 3px #000;
}

fieldset > a > p {
  font-family: var(--font-family);
  font-size: 2.5rem;
}

fieldset > a > img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  object-fit: fill;
}

legend {
  font-size: 1.1rem;
  height: 30px;
  margin: auto;
  padding: .5rem;
  font-weight: var(--font-weight);
  background: var(--orange);
  border-radius: 10px;
  box-shadow: 0 -10px 10px 1px #000;
}

input[type="submit"] {
  background: #58595A;
  color: #fff;
  border: solid 3px #000;
}

#email, #submit {
  font-weight: var(--font-weight);
  padding: .5rem;
  font-weight: bold;
}

.font-weight {
  font-weight: var(--font-weight);
}

/* ARTICLE - PRICING INFO */
#price-div-root {
  background: var(--orange);
  height: 100%;
  width: 100%;
  padding-bottom: 5rem;
}

#price-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}

article {
  border: solid 3px #000;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2rem;
  width: 350px;
  height: 400px;
  gap: 1rem;
  background: radial-gradient(circle, #FFF 40%, var(--green));
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

h1:not(h1[class="ignore-style"]) {
  font-size: 3.5rem;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  text-decoration: underline;
}

h1[class="ignore-style"], article > h1) {
  font-size: 6rem;
  margin: 1rem 0;
  width: 100%;
}

h1.ignore-style {
  font-family: var(--font-family);
  font-size: 6rem;
}

.remove-decoration {
  text-decoration: none;
}

.price {
  font-weight: var(--font-weight);
  font-size: 1.5rem;
}

/* FOOTER - Contact information */
#contact {
  border-top: solid 3px #000;
  width: 100%; 
  padding: 2rem;
}

footer > ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  font-weight: var(--font-weight);
}

/* MOBILE - For mobile pages */
@media only screen and (max-width: 500px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 1rem;
  }

  .price-info {
    font-size: 2.5rem;
  }

  .price {
    padding-top: 1rem;
    font-size: 1rem;
  }

  footer  {
    width: 414px;
    margin: 0;
  }

  article {
    color: #000;
  }

  article > p {
    font-size: 1rem;
  }

  #intro-img {
    width: 300px;
    border-radius: 50%;
    height: 300px;
    border: solid 3px #000;
    box-shadow: var(--box-shadow);
  }

  #form-div {
    width: 100%;
  }

  fieldset{ 
    width: 90%;
    margin: 0 auto;
  }

  footer {
    font-size: .7rem;
    width: 100%;
  }

  #price-div {
    gap: 1rem;
  }

  #home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #home > h1 {
    margin-right: 0 auto;
    font-size: 3rem;
  }

  #video {
    width: 300px;
    height: 300px;
  }

  .gallery-grid-container > img , article, fieldset {
    width: 300px;
    height: 300px;
  }

  article {
    border-radius: 10px;
  }

  .intro-welcome-message {
    margin: 0 auto;
    font-size: 5rem;
  }
}
