@import "tailwindcss";
* {
    @apply m-0 p-0 box-border;
}

html, body {
    @apply
    h-full w-full
    flex flex-col justify-center items-center;
} 

#root {
    @apply
    h-full w-full;
}

/* TMP */
.tmp-color {
    @apply border-white/70   border-solid;
}

/* Navbar Section */
nav {
    @apply
    z-50
    w-full
    h-20
    fixed
    top-0
    left-0
    right-0
    bg-black/70
    text-white
    flex
    justify-center
    items-center
}

.company-logo {
    @apply
    w-8
    h-8
    cursor-pointer
}

.nav-logo {
    @apply
    w-8
    h-8
    cursor-pointer
    ml-10
    w-10
    h-10
    transition-transform
    hover:scale-140
}

.nav-container {
    @apply
    h-full
    w-5xl
    m-auto
    flex
    justify-between
    items-center;
}

.nav-links {
    @apply
    w-full
    h-full
    flex
    justify-end
    items-center
    gap-10
    pr-10
}

.nav-links li {
    @apply
    font-bold
    transition-transform
    duration-100
    hover:scale-120
}

.nav-logo-container {
    @apply
    flex
    justify-center
    items-center
    gap-5
    w-sm
}

.login-form-heading {
    @apply
    text-3xl
    font-bold
}

.login-form {
    @apply
    flex
    flex-col
    justify-center
    items-center
    shadow-2xl
    gap-5
    w-xl
    h-150 
    fixed
    m-auto
    inset-0
    bg-black/90
    rounded-3xl
}

.login-form-close-button {
    @apply
    absolute
    right-5
    top-4
}

.login-form-div {
    @apply
    flex
    flex-col
    justify-center
    items-center
    gap-5
    w-full
}

.login-form-input {
    @apply
    outline-1
    rounded-sm
    shadow-md
    bg-white
    w-xs
    p-2
    text-black
}

.login-form-button-container {
    @apply
    w-full
    flex
    justify-center
    items-center
    gap-10
    mt-5
}

.login-form-button-container button {
    @apply
    outline-1
    p-2
    rounded-lg
}

.register-form {
    @apply
    flex
    flex-col
    justify-center
    items-center
    shadow-2xl
    gap-5
    w-xl
    h-150 
    fixed
    m-auto
    inset-0
    bg-black/90
    rounded-3xl
}

.register-form-close-button {
    @apply
    absolute
    right-8
    top-5
    text-lg
    underline
    font-bold
}

.register-form-input {
    @apply
    rounded-sm
    w-md
    p-2
    text-black
    bg-white
    shadow-md
    mt-2
}

.register-form-button {
    @apply
    outline-1
    p-5
    rounded-lg
    mt-5
    font-bold
}

.login-form-div label {
    @apply
    font-bold
    text-lg
    text-left
    w-xs
}

.login-form-register-container {
    @apply
    p-10
    flex
    justify-center
    items-center
    gap-3
}

.login-form-register-button {
    @apply
    outline-1
    p-2
    rounded-lg
}

/* Register Modal Section */

/* Introduction Section */
.introduction {
    @apply
    border-black border-2
    flex flex-col justify-center items-center
    /* bg-[url('https://images.unsplash.com/photo-1732118070605-8c5faa62d284?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w3Nzg4Nzd8MHwxfHNlYXJjaHwxfHxmcmVzaCUyMHRhbWFsZXN8ZW58MXx8fHwxNzY0NDc1NjEwfDA&ixlib=rb-4.1.0&q=80&w=1080&utm_source=figma&utm_medium=referral')]
    bg-center bg-no-repeat bg-cover */
    text-white
    min-h-screen w-full;
}

.introduction-image {
    @apply
    object-cover
    w-full
    h-full
    absolute
    z-[-2];
}

.introduction-image-overlay {
    @apply
    absolute
    z-[-1]
    h-full
    w-full
    bg-linear-to-b
    from-black/90
    via-black/40
    to-black/11;
}

.introduction h1 {
    @apply text-7xl font-bold text-center mb-6;
}

.introduction p {
    @apply
    text-2xl text-center mb-12;
}

.introduction-link-group {
    @apply
    w-md
    flex justify-center items-center gap-3;
}

.instructions-textarea {
    @apply
    bg-white/90
    rounded-lg
    text-black
    p-2
}

.deliver-food-label-element {
    @apply
    font-bold
    text-lg
    capitalize
}

.deliver-food-container {
    @apply
    w-3xl
    h-fit
    p-10
    rounded-2xl
    shadow-2xl
    bg-green-500
    fixed
    inset-0
    m-auto
    transition-opacity
    duration-200
    ease-in-out
}

.deliver-food-form {
    @apply
    flex
    flex-col
    h-full
    w-full
    justify-center
    items-center
    gap-5
}

.deliver-food-form div {
    @apply
    w-full
    h-fit
    flex
    flex-col
    justify-start
    items-center
}

.deliver-food-elem-container {
    @apply
    border-2
    p-5
    flex
    flex-col
    justify-start
    items-start
}

.deliver-food-input {
    @apply
    rounded-sm
    shadow-sm
    w-sm
    bg-white
    text-black
    mt-5
    p-2
}

.modal-close-button {
    @apply
    absolute
    right-5
    top-5
    text-lg
    underline
}

.introduction-link {
    @apply
    border-2 rounded-lg border-black p-5
    font-bold text-lg;
}

.introduction-link:first-child {
    @apply bg-red-500 hover:bg-red-700 transition-colors;
}

.introduction-link:last-child {
    @apply bg-gray-500/70 transition-colors hover:bg-gray-400/50;
}

/* Signature Dishes Section */
.signature-dishes {
    @apply
    flex
    flex-col
    justify-center
    items-center
    pt-10
    pb-10
}

.signature-dishes p {
    @apply
    text-lg
}
.signature-dishes h1 {
    @apply
    text-5xl
}

.dish-list {
    @apply
    grid
    grid-cols-3
    gap-10
}

.dish {
    @apply
    rounded-3xl
    w-sm h-120
    flex flex-col justify-evenly
    shadow-md
    transition-transform
    duration-200
    hover:scale-110
    pb-5
}

.dish-heading-group {
    @apply
    flex
    justify-between
    items-center
    flex-col
    gap-5
    mb-10
}

.dish-heading-group h1 {
    @apply
    text-5xl
    font-bold
}

.dish-heading-group {
    @apply
    flex justify-between w-full;
}

.dish button {
    @apply
    border-2 rounded-lg border-black
    p-2 font-bold text-[.90rem] bg-red-500
    hover:bg-red-700 transition-colors
    text-white
    w-full
}

.dish-image img {
    @apply
    rounded-t-2xl
    object-cover
    h-70
    w-full
    shadow-md
}

.dish-image {
    @apply
    w-full
    h-75

}

.dish-info {
    @apply
    ml-5
    mr-5
    flex
    flex-col
    justify-evenly
    gap-4
}

.dish-pricing h2 {
    @apply
    text-2xl
}

.dish-pricing p {
    @apply
    text-xl
}

.dish-pricing {
    @apply
    flex
    justify-between
}

/* Our story section */
.our-story {
    @apply
    h-[50rem]
    flex
    justify-center
    items-center
    gap-10
    text-white
     from-gray-900 to-gray-950/90 via-gray-950
    bg-radial-[at_25%_25%]
}

.our-story-text {
    @apply
    max-w-lg
}

.our-story-description {
    @apply
    text-xl
    flex
    flex-col
    gap-5
    items-end
}

.our-story-text h1 {
    @apply
    text-4xl
    font-bold
}

.our-story img {
    @apply
    max-w-lg
    rounded-2xl
    shadow-2xl
}

.our-story-decoration-container {
   @apply
   h-[4rem] 
   flex
   flex-col
   justify-center
   items-start
}
.our-story-decoration {
    @apply
    border-2
    border-black
    bg-red-300
    rounded-full
    p-2
    pl-4
    pr-4
}

/* Review Section */
.review-section {
    @apply
    bg-gradient-to-b
    from-red-100
    to-orange-100
}
.reviews {
    @apply
    flex
    justify-around
    items-center
    pb-30
    border-b-gray-500/50
    border-b-1
}

.review {
    @apply
    inset-1
    shadow-2xl
    w-md
    h-75
    grid
    grid-cols-2
    content-center
    gap-y-4
    gap-x-10
    p-5
    rounded-3xl
    bg-white/90
}

.user-review {
    @apply
    col-start-1
    col-span-2
}

.user-name {
    @apply
    justify-self-start
}

.user-profile-photo {
    @apply
    justify-self-start
    w-[50px]
    h-[50px]
}

.photo-username-style {
    @apply
    flex
    items-center
    justify-start
    gap-5
    col-start-1
    col-span-2
}

.review-section {
    @apply
    grid
    grid-rows-2
    h-175
}

.review-section-heading {
    @apply
    text-center
    flex
    flex-col
    justify-center
    items-center
}

.review-section-heading h1 {
    @apply
    text-5xl
}

.review-section-heading p {
    @apply
    text-lg
}

/* Location Section */
.location {
    @apply
    grid
    grid-cols-2
    p-20
    gap-y-10
}

.location-address-and-hours {
    @apply
    flex
    flex-col
    gap-5
    justify-start
    items-start
}

.location-heading {
    @apply
    col-span-full
    text-center
}

.location-heading h1 {
    @apply
    text-5xl
    font-bold
    pb-4.5
}

.location-day-hour {
    @apply
    flex
    justify-start
    items-center
    gap-10
}

.hours {
    @apply
    w-full
}

.day-hour-aligner {
    @apply
    w-xs
}

.styles-for-location-and-hours {
    @apply
    w-2xl
    p-5
    bg-linear-to-r
    from-orange-100
    to-red-200
    shadow-lg
    rounded-xl
}

.map {
    @apply
    w-2xl
    rounded-xl
    flex
    flex-col
    justify-center
    items-center
    shadow-2xl
}

.map iframe {
    @apply
    w-full
    h-80
    rounded-xl
}

/* Footer Section */
footer {
    @apply
    grid
    grid-cols-4
    h-[50%]
    pt-30
    border-t-1
    bg-linear-to-t
    from-black/90
    to-gray-900
    text-white
    text-lg
    pl-10
    pr-10
}

.copyright {
    @apply
    col-span-full
    text-center
    p-5
}

.footer-slogan {
    @apply
    flex flex-col justify-start items-start gap-3
}

.footer-slogan h1 {
    @apply
    text-3xl
    font-bold
}

.footer-slogan p {
    @apply
    w-xs
}

.footer-contact-info {
    @apply
    text-center
    flex
    flex-col
    justify-center
    items-center
}

.quick-links h1 {
    @apply
    text-2xl
    font-bold
}

.quick-links {
    @apply
    flex
    flex-col
    justify-start
}

.footer-subscribe-email-form {
    @apply
    flex
    justify-start
    items-center
    gap-5
}

.footer-subscribe-email-form input {
    @apply
    outline-1
    rounded-md
    p-2
    bg-white/90
    text-black
}

.footer-social-media-icons {
    @apply
    flex
    justify-start
    items-center
    gap-5
}

.footer-ig-icon,
.footer-threads-icon,
.footer-tiktok-icon {
    @apply
    mt-2
    rounded-full
    w-8
    h-8
}

.footer-subscribe-email-form button {
    @apply
    outline-1
    p-2
    rounded-lg
    capitalize
}

.footer-contact-info h1 {
    @apply
    text-2xl
    font-bold
}

.footer-contact-info {
    @apply
    flex
    flex-col
    justify-start
    items-start
}

.subscribe-newsletter {
    @apply
    flex
    flex-col
    gap-2
    justify-start
    items-start
}

.subscribe-newsletter h1 {
    @apply
    text-2xl
    font-bold
}
